# Dependencies
node_modules/
frontend/node_modules/

# Production build outputs
dist/
frontend/dist/
build/

# Vercel & Cloud deployment folders
.vercel/

# Environment variables & secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env
!.env.example

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS metadata & editor files
.DS_Store
Thumbs.db
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary files
.cache/
tmp/
